@model WebShop.ViewModels.Checkout.CheckoutDataInputModel

@{
    ViewBag.Title = "Checkout";
    var deliveries = ViewBag.Deliveries as SelectList;
}

<h2>Checkout</h2>
@using (Html.BeginForm()) // те ж саме, що і BeginForm("Index", "Checkout", FormMethod.Post)
{
    <div>
        @Html.EditorFor(model => model.ClientData)
    </div>
    <hr />
    <div>
        @Html.EditorFor(model => model.ClientAddress)
    </div>
    <hr />
    <div>
        @Html.DropDownListFor(model => model.DeliveryId, deliveries, "Select delivery")
    </div>
    <hr />
    <input type="submit" value="Place order" />
}